.container {
   /* background-color: lightskyblue; */
   border: 1px solid lightskyblue;
   width: auto;
   padding-bottom: 10px;
   padding-top: 10px;
   margin-bottom: 10px;
   /* height: auto; */
   /* display: flex;
   flex-direction: column; */

}

.container:hover {   
   color: white;
}

.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

   font-size: small;
   cursor: pointer;
   height: 50px;
   width: 100%;
}

.title {
   
}

.description {

}

.completed {

}

.deets {
   font-size: small;
   background-color: lightgray;
   color: black;
   padding: 20px;
}

