.container {
   background-color: lightskyblue;
   width: auto;
   /* height: auto; */
   /* display: flex;
   flex-direction: column; */

}

.container:hover {   
   color: white;
}

.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

   font-size: small;
   cursor: pointer;
   height: 50px;
}

.title {
   
}

.description {

}

.completed {

}

.deets {
   font-size: large;
   background-color: rgb(107, 136, 146);
   padding: 20px;
}

